
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Preline UI */
@import "tailwindcss";

/* Importar Preline después de Tailwind */
@custom-variant dark (&:where(.dark, .dark *));

/* @import "../node_modules/preline/variants.css"; */
@import "../node_modules/preline/variants.css";


/* Estilos base personalizados */
@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

/* crear variables  */

@theme {
    --color-body:#020617;
    --color-cards:rgba(255, 191, 0, 0.48);
  }